---
- name: 'Create network'
  community.docker.docker_network:
    name: 'apt_cacher_backend'
    driver: 'overlay'
    state: absent

- name: Create NFS mount
  community.docker.docker_volume:
    name: nfs-apt-cacher-ng
    state: present
    driver: local
    recreate: options-changed
    driver_options:
      type: nfs
      o: "addr=10.1.1.5,rw"
      device: :/volume3/m2.docker/nfs/aptcacherng

- name: 'Deploy apt-cacher-ng'
  community.docker.docker_swarm_service:
    name: 'apt-cacher-ng'
    image: 'sameersbn/apt-cacher-ng'
    state: absent
    mounts:
      - source: "nfs-apt-cacher-ng"
        target: '/var/cache/apt-cacher-ng'
        type: volume
    networks:
      - "{{ traefik_proxy_network }}"
    publish:
    labels:
      traefik.enable: "true"
      traefik.http.routers.aptcacherng.rule: Host(`{{ aptcacherng_app_name }}.{{ traefik_domain }}`)
      traefik.http.services.aptcacherng.loadbalancer.server.port: 3142
      traefik.http.routers.aptcacherng.entrypoints: aptcacher
      traefik.http.routers.aptcacherng.tls: "false"
    mode: 'replicated'
    replicas: 0
    restart_config:
      condition: "{{ restart_condition }}"
    placement:
      constraints:
        - 'node.role == worker'
  no_log: "{{ not docker_service_debug }}"
