- name: reboot systemd
  ansible.builtin.reboot:
    msg: Rebooting from Ansible
    connect_timeout: 120

- name: Restart telegraf
  ansible.builtin.service:
    name: telegraf
    state: restarted


- name: restart resolved
  ansible.builtin.service:
    name: systemd-resolved
    state: restarted