#SPDX-License-Identifier: MIT-0

---

## Title: ansible-rk1-cluster/roles/setup/tasks/main.yml
## Description: Basic setup for all servers
## Author: Joseph Harry <findarato@gmail.com>
## Copyright: Joseph Harry <findarato@gmail.com>
## Date: 2025-10-13 15:46:54
## 
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
## You should have received a copy of the GNU General Public License along
## with this program; if not, write to the Free Software Foundation, Inc.
## 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.



# tasks file for roles/setup

- name: Ensure basic apps are installed
  ansible.builtin.package:
    name:
      - curl
      - gpg
      - git
      - vim
      - htop
      - wget
      - jq
      - unzip
    state: present
  tags: [setup, packages]